<!--
    Идёт сплошной полосой в самом низу страницы (цвет аналогичен навигационной панели)
    Располагается стандартный набор Копирайт/О наси прочее
--> 
<footer>
    <p>Это подвал</p>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
</footer>