<!--
    Навигационная панель должна идти лентой сразу после хэдера.
    Тут должны располагаться названия категорий статей, а также поиск авторов
--> 
<ul>
    <li>Это</li>
    <li>навигационная</li>
    <li>панель</li>
</ul>