@model ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}

<h2>Изменение пароля для пользователя @Model.Email</h2>

<form asp-action="ChangePassword" asp-controller="Account" method="post">
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />

    <div>
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" />
        <span asp-asp-validation-for="CurrentPassword"></span>
    </div>
    <div>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" />
        <span asp-asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit">Обновить</button>
</form>
