@using TryHardForum.Models
@using TryHardForum.Models.ViewModels
@model EditViewModel

@{
    ViewBag.Title = "Редактирование УЗ";
}

<p>Изменение персональных данных учётной записи</p>

<form asp-action="Edit" asp-controller="Account">
    <div asp-validation-summary="All"></div>
    <div>
        <input type="hidden" asp-for="Id" />
    </div>
    <div>
        <label asp-for="UserName">Имя пользователя</label>
        <input type="text" asp-for="UserName" />
    </div>
    <button type="submit">Сохранить</button>
</form>