@model ForgotPasswordModel
@{
    ViewBag.Title = "Забыли пароль?";
}

<h4>Введите адрес электронной почты.</h4>
<hr />
<div>
    <div>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Email">Электронная почта</label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>

@*
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
*@