@{
    Layout = "_SimpleLayout";
    ViewBag.Title = "Пользователь заблокирован";
}

<div>
    <h1>Этот пользователь заблокирован</h1>
    <p>Эта учётная запись пользователя заблокирована. Пожалуйста, попробуйте войти позже.</p>
</div>

