@model RegisterModel

@{
    Layout = "_SimpleLayout";
    ViewBag.Title = "Регистрация нового пользователя";
}

<div>
    <div>
        <h1>Регистрация нового пользователя</h1>
        <div>
            <p>Зарегистрируйтесь, чтобы вы могли оставлять сообщения на форумах.</p>
        </div>
    </div>
    <div>
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Email">Электронная почта</label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div>
                    <label asp-for="UserName">Имя</label>
                    <input asp-for="UserName" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div>
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="ConfirmPassword">Подтверждение пароля</label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit">Регистрация</button>
            </form>
        </div>
    </div>
</div>

@*
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
*@
