@model ResetPasswordModel

@{
    Layout = "_SimpleLayout";
    ViewBag.Title = "Сброс пароля";
}

<h4>Сбросьте пароль своей учётной записи.</h4>
<hr />
<div>
    <div>
        <form asp-controller="Account" 
              asp-action="ResetPassword" 
              method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />
            <div>
                <label asp-for="NewPassword">Новый пароль</label>
                <input asp-for="NewPassword" />
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div>
                <label asp-for="ConfirmNewPassword">Подтверждение нового пароля</label>
                <input asp-for="ConfirmNewPassword" />
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>
            <div>
                <div>
                    <button type="submit">Сбросить</button>
                </div>
            </div>
        </form>
    </div>
</div>

@* Валидационные скрипты *@
