@{
    Layout = "_SimpleLayout";
    ViewBag.Title = "Пароль сброшен";
}

<div>
    <p>
        Ваш пароль сброшен. Пожалуйста <a asp-controller="Account" asp-action="Login">нажмите сюда для входа</a>.
    </p>
</div>
