@model ChangePasswordModel
@{
    Layout = "_AccountLayout";
    ViewBag.Title = "Изменение пароля";
}

<div>
    <div>
        <form asp-controller="Manage" 
              asp-action="ChangePassword" 
              method="post"
              role="form">
            <h4>Изменение пароля пользователя @Model.UserName</h4>
            <hr />
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="UserId" />
            <div>
                <label asp-for="CurrentPassword">Текущий пароль</label>
                <div>
                    <input asp-for="CurrentPassword" />
                    <span asp-validation-for="CurrentPassword"></span>
                </div>
            </div>
            <div>
                <label asp-for="NewPassword">Новый пароль</label>
                <div>
                    <input asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <div>
                <label asp-for="ConfirmPassword">Подтверждение нового пароля</label>
                <div>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div>
                <div>
                    <button type="submit">Сохранить изменения</button>
                </div>
            </div>
        </form>
    </div>
</div>
